<template>
    <div class="container is-fluid">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="title is-5 ui-titles">Classeurs</h1>
                    <div class="select is-medium">
                        <select>
                            <option selected disabled hidden></option>
                            <option v-for="binder in binders" v-bind:key="binder.id" class="text-color">{{binder.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="level-item">
                    <h1 class="title is-5 ui-titles">Mots clés</h1>
                    <div class="select is-medium">
                        <select>
                            <option selected disabled hidden></option>
                            <option v-for="tag in tags" v-bind:key="tag.id" class="text-color">{{tag.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="level-item">
                    <span class="icon is-medium">
                        <a><i class="fas fa-2x fa-search text-color"></i></a>
                    </span>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a class="button is-medium is-text">Recherche Avancée</a>
                </div>
                <div class="level-item">
                    <span class="icon is-medium">
                        <a href="/new"><i class="fas fa-2x fa-plus text-color"></i></a>
                    </span>
                </div>
            </div>
        </div>

        <!--<div class="columns is-desktop">
            <div class="column is-2">
                <div class="select is-medium">
                    <select>
                        <option selected disabled hidden>Classeurs</option>
                        <option v-for="binder in binders" v-bind:key="binder.id" class="text-color">{{binder.name}}</option>
                    </select>
                </div>

            </div>
            <div class="column is-4">
                <div class="field is-horizontal">   
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <div class="select is-medium">
                                    <select>
                                        <option selected disabled hidden>Mots Clés</option>
                                        <option v-for="tag in tags" v-bind:key="tag.id" class="text-color">{{tag.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="field-label is-normal">
                        <label class="label">
                            
                        <span class="icon is-medium">
                            <a><i class="fas fa-2x fa-search text-color"></i></a>
                        </span>
                        </label>
                    </div>
                </div>
                
            </div>
            <div class="column is-2">
            </div>
            <div class="column is-3 box">

            </div>
        </div>-->
        
    </div>
</template>

<script>
import axios from 'axios'
export default {
    name: 'advanced-search',
    data: function() {
        return {
            endPoints: {
                binders: 'https://localhost:44379/api/binders',
                tags: 'https://localhost:44379/api/tags'
            },
            binders: [
                
            ],
            tags: [

            ], 
        }
    },
    created: function() {
        axios.get(this.endPoints.binders)
        .then((response) => {
            //console.log('Logging binders...');
            //console.log(response.data);
            this.binders = response.data;
        });
        axios.get(this.endPoints.tags)
        .then((response) => {
            //console.log('Logging tags...');
            //console.log(response.data);
            this.tags = response.data;
        });
    }
}
</script>

<style scoped>
    .ui-titles {
        margin-right: 0.4rem;
    }
</style>