<template>
    <tr>
        <td> {{ doc.id }} </td>
        <td> {{ doc.title}} </td>
        <td> {{ doc.issuer}} </td>
        <td>
            <div class="select is-fullwidth">
                <select>
                    <option selected disabled hidden></option>
                    <option v-for="name in binders" class="text-color">{{name}}</option>
                </select>
            </div>
        </td>
        <td><document-form v-bind:documentId="doc.id"></document-form></td>
    </tr>
</template>

<script>
import DocumentForm from './DocumentForm.vue';
export default {
    name: 'document-summary',
    components: {
        'document-form': DocumentForm,
    },
    props: ['doc'],
    computed: {
        binders: function() {
            return this.doc.binders;
        }
    }
}
</script>

<style scoped>
</style>