<template>
    <div class="container is-mobile doc-items">
        <table class="doc-items table is-bordered is-responsive">
            <thead>
                <tr>
                    <th>N&deg;Ordre</th>
                    <th>Titre</th>
                    <th>Emmetteur</th>
                    <th>Classeurs</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <document-summary v-for="doc in data" v-bind:doc="doc" v-bind:key="doc.id"></document-summary>
            </tbody>
        </table>
    </div>
</template>

<script>
import DocumentSummary from './DocumentSummary.vue';
export default {
    name: 'documents-list',
    data: function() {
        return {
            currentDoc: null
        };
    },
    components: {
        'document-summary': DocumentSummary,
    },
    props: ['data'],
    created: function() {
        console.log(this.data);
    }
}
</script>

<style scoped>
    .doc-items {
        width: 80%;
        margin: 0 auto;
    }
    .text-color {
        color: #292961;
    }
</style>