<template>
    <div class="container is-fluid doc-items box documentDetails">
        <div class="columns is-desktop">
            
                

            <div class="column is-6">
                
                <div class="columns is-desktop">
                    <div class="column">
                        <div class="field">
                            <label class="label">N&deg;Ordre</label>
                            <div class="control">
                                <input v-model="id" class="input text-color" type="text">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Titre</label>
                            <div class="control">
                                <input v-model="title" class="input extend text-color" type="text">
                            </div>
                        </div> 
                        <div class="field">
                            <label class="label">Auteur</label>
                            <div class="control">
                                <input v-model="author" class="input text-color" type="text">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Date de creation</label>
                            <div class="control">
                                <input v-model="creationDate" class="input text-color" type="datetime-local">
                            </div>
                        </div> 
                        <div class="field">
                            <label class="label">Emetteur</label>
                            <div class="control">
                                <input v-model="issuer" class="input text-color" type="text">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Date d'emission</label>
                            <div class="control">
                                <input v-model="addingTime" class="input text-color" type="datetime-local">
                            </div>
                        </div>                        
                    </div>
                    <div class="column">
                        <div class="field">
                            <label class="label">Description</label>
                            <div class="control">
                                <textarea v-model="description" class="textarea description text-color"></textarea>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Notes</label>
                            <div class="control">
                                <textarea v-model="notes" class="textarea notes text-color"></textarea>
                            </div>
                        </div>                    
                    </div>
                </div>

                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <div class="field">
                                <div class="select">
                                    <select>
                                        <option selected disabled hidden>Classeurs</option>
                                        <option v-for="binder in binders">{{binder}}</option>
                                    </select>
                                </div>                                    
                            </div> 
                        </div>
                        <div class="level-item">
                            <div class="field">
                                <div class="select">
                                    <select>
                                        <option selected disabled hidden>Langages</option>
                                        <option v-for="language in languages">{{language}}</option>
                                    </select>
                                </div>                                    
                            </div>
                        </div>
                        <div class="level-item">
                            <div class="field">
                                <div class="select">
                                    <select>
                                        <option selected disabled hidden>Mots Clés</option>
                                        <option v-for="tag in tags">{{tag}}</option>
                                    </select>
                                </div>                                    
                            </div> 
                        </div>
                    </div>
                </div>

                <div class="level actions">
                    <div class="level-left">
                        <div class="level-item">
                            <a class="button">
                                <span class="icon">
                                    <i class="fas fa-edit"></i>
                                </span>
                                <span>Modifier</span>
                            </a>
                        </div>
                        <div class="level-item">
                            <a class="button">
                                <span class="icon">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                                <span>Supprimer</span>
                            </a>
                        </div>
                        <div class="level-item">
                            <a class="button">
                                <span class="icon">
                                    <i class="fas fa-file-download"></i>
                                </span>
                                <span>Télécharger</span>
                            </a>
                        </div>
                        <div class="level-item">
                            <a class="button">
                                <span class="icon">
                                    <i class="fas fa-print"></i>
                                </span>
                                <span>Imprimer</span>
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="column is-6">
                <h3 class="title is-3">Preview</h3>
                <preview></preview>
            </div>

            
        </div>
    </div>
</template>


<script>
import axios from 'axios'
import Preview from './Preview.vue'
export default {
    name: 'document-details',
    data: function() {
        return {
            documentId: this.$route.params.id,
            endPoint: 'https://localhost:44379/api/documents/',
            id: '',
            title: '',
            author: 'qsdqsd',
            creationDate: '',
            issuer: '',
            addingTime: '',
            binders: null,
            languages: null,
            tags: null,
            description: '',
            notes: ''
        }
    },
    components: {
        'preview': Preview
    },
    created: function() {
        axios.get(this.endPoint + this.documentId)
        .then((response) => {
            let data = response.data;
            //console.log(data);
            this.id = data.id;
            this.title = data.title;
            this.author = data.author ? data.author : 'vide';
            this.creationDate = data.creationDate;
            this.issuer = data.issuer;
            this.addingTime = data.addingTime;
            this.binders = data.binders;
            this.languages = data.languages;
            this.tags = data.tags;
            this.description = data.description;
            this.notes = data.notes;
            //console.log("Id: " + this.id);
        });
    }
}
</script>

<style scoped>
    input {
    }
    .textarea.description {
        height: 198px;
    }
    .textarea.notes {
        height: 195px;
    }
    .level.actions {
        padding-top: 2rem;
    }
</style>