<template>
    <div class="field is-grouped is-grouped-centered">
        <p class="control">
            <a v-bind:href="'document/' + documentId"><span class="icon text-color">
                <i class="fas fa-edit"></i>
            </span></a>
        </p>
        <p class="control">
            <a><span class="icon text-color">
                <i class="far fa-trash-alt"></i>
            </span></a>
        </p>
        <p class="control">
            <a><span class="icon text-color">
               <i class="fas fa-file-download"></i>
            </span></a>
        </p>
    </div>
</template>

<script>
export default {
    name: 'document-form',
    props: ['documentId']
}
</script>

<style>

</style>