<template>
    <div class="block">
        <nav class="navbar nav-bar__bgcolor" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img :src="'/record.svg'" title="Icons made by Smashicons www.flaticon.com is licensed by CC 3.0 BY" width="75" height="75">
                    <h1 class="is-size-3 has-text-grey-light has-text-weight-normal">GED</h1>
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                
                <div class="navbar-start">
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a v-if="!isConnected" class="button nav-bar__color has-text-weight-semibold">
                                Enregister
                            </a>
                            <a v-if="canLogOut" class="button nav-bar__color has-text-weight-semibold">
                                Deconnecter
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
export default {
    name: 'nav-bar',
    data: function() {
        return {
            isConnected: false,
            canLogOut: true,
            publicPath: process.env.BASE_URL
        }
    },
    computed: {
        imagePath: function() {
            return this.publicPath + 'logo.jpg';
        }
    }
}
</script>

<style lang="css" scoped>
    .navbar {
        height: 5vh;
    }
    .nav-bar__bgcolor {
        background-color: #292961;
    }
    .nav-bar__color {
        color: rgb(99, 99, 165);
    }
</style>