<template>
    <div class="container is-fluid">
        <object data="/erasmus.pdf" type="application/pdf"> 
            <p>It appears you don't have a PDF plugin for this browser.
            No biggie... you can <a href="resume.pdf">click here to
            download the PDF file.</a></p>  
        </object>      
    </div>
</template>

<script>

</script>

<style scoped>
    .container.is-fluid {
        height: 60vh;
    }
    object {
        width: 100%;
        height: 500px;
        overflow: scroll;
    }
</style>


