<template>
    <div>
        <nav-bar></nav-bar>
        <div class="container is-fluid main-container box has-background-white-ter">
            <advanced-search></advanced-search>
            <hr>
            <router-view v-bind:data="documentItems"></router-view>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import NavBar from './components/NavBar.vue'
import AdvancedSearch from './components/AdvancedSearch.vue'
import DocumentsList from './components/DocumentsList.vue'
export default {
    name: 'app',
    data: function() {
        return {
            endPoints: {
                documentItems: 'https://localhost:44379/api/documentitems',
                documents: 'https://localhost:44379/api/documents',
                document: 'https://localhost:44379/api/documents/:id',
                upload: 'https://localhost:44379/api/upload',
                download: 'https://localhost:44379/api/upload'
            },
            documentItems: []
        }
    },
    components: {
        'nav-bar': NavBar,
        'advanced-search': AdvancedSearch,
        'documents-list': DocumentsList
    },
    created: function() {
        axios.get(this.endPoints.documentItems)
        .then((response) => {    
            //console.log(response);
            //console.log(response.data);
            for(let documentItem of response.data) {
                this.documentItems.push(documentItem);
            }
        });
    }
}
</script>

<style>
    .container.main-container {
        min-height: 65vh;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .text-color {
        color: #292961;
    }
    hr {
        border: 1px solid #292961 !important;
    }
</style>


